body{
    margin:0px;
    padding:0px;
}

.LoginBox {
    height: 100vh;
    background: rgb(209, 209, 209);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .LoginContainer{
    min-height: 400px;
    width: 400px;
    background-color: #FFF;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: #0000;
  }

  .VerMais1 {
    height: 100vh;
    background: rgb(233, 232, 232);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .VerMais2{
    width: 20%;
    background-color: #FFF;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: #0000;
  }

  .VerMais1 img{
    width:100%;
  }

  .VerMais p{
    font-size: 20px;
  }

.LoginForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .LoginInput{
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;
 }

 .LoginSpam{
    height: 1px;
    width: 100%;
    margin-bottom: 16px;
    background-color: #cfcfcf;
    transition: .3s ease-in-out;
}

.LoginSpam::after{
    content: '';
    display: block;
    height: 1px;
    width: 0;
    margin-bottom: 16px;  
    background: linear-gradient(120deg, #e75590, #00c2cb);
    transition: .3s ease-in-out;
}

.LoginInput:focus + .LoginSpam::after{
   width: 100%;
}

.LoginBotaoCadastrar{
    height: 48px;
    width: 100%;
    outline: none;
    background: linear-gradient(120deg, #e75590, #00c2cb);
    background-size: 200%;
    margin-bottom: 32px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    border: unset;
    border-radius: 4px;
    cursor: pointer;
    transition: .5s ease-in-out;
 }
 
 /*animacao do botao*/
 .LoginBotaoCadastrar:hover{
     background-position: right;
 }

 .Produto1 {
  display: grid;
  grid-template-columns:auto auto auto auto auto;
  margin: 30px;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
}

 .Produto1 img{
  width:100%;
 }

 hr{
   background: linear-gradient(120deg, #e75590, #00c2cb);
 }

 .Produto3{
  margin: 20px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
 }

 .LoginBotaoCadastrar2{
  height: 48px;
  width: 5%;
  outline: none;
  background: linear-gradient(120deg, #e75590, #00c2cb);
  background-size: 200%;
  margin-bottom: 32px;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  border: unset;
  border-radius: 4px;
  cursor: pointer;
  transition: .5s ease-in-out;
  margin: 30px;
}

/*animacao do botao*/
.LoginBotaoCadastrar2:hover{
   background-position: right;
}


.LoginAhref{
    font-size: 16px;
    color: #949292;
    text-decoration: none;
}

.LoginAhref2{
  font-size: 26px;
  color: #484747;
  text-decoration: none;
  padding: 60px;
  
}


img{
  width:10%;
  height: auto;
}

.botao{
  text-align: center;
  justify-content: center;
  background-color: linear-gradient(120deg, #e75590, #00c2cb);
}
